body {
  background: #1f2937;
  margin: 0 auto;
}

.pheader {
  margin: 0px auto;
  margin-top: 80px;
  width: 354px;
  height: 80px;
  left: 52px;
  top: 104px;

  font-family: "Karla", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  /* or 100% */
  letter-spacing: -0.025em;

  /* white */
  color: #ffffff;
}

#random {
  color: #4adf86;
}

h2 {
  width: 372px;
  height: 28px;
  left: 52px;
  top: 205px;
  margin: 30px auto;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #d5d4d8;
}

button {
  display: block;
  width: 200;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
  background: #10b981;
  border-radius: 6px;
  padding: 10px;
  margin: 0px auto;
  margin-bottom: 20px;
}

p {
  width: 210px;
  height: 39px;
  left: 52px;
  top: 396px;
  background: #273549;
  border-radius: 6px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #55f991;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 4px;
} 


