body {
    background-color: grey;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 200px;
}

.talk {
  padding: 30px;
  border-radius: 50px;
  width: 100%;
  font-family: "Nova Square", cursive;
  font-size: 50px;
}

.talk:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(8, 114, 244, 0.6);
    transition: transform 150ms;
    transform: scale(1.03);
}
